@import "../../../styles/variables.scss";

.button {
  all: unset;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: darken($primary, 5);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.buttonPrimary {
  background-color: $primary;
  color: $white;
}
.buttonWhite {
  background-color: $light-grey;
  color: $dark;
}

.buttonGrey {
  background-color: $grey;
  color: $dark;
}

.buttonDanger {
  background-color: $danger;
  color: $white;
}

.buttonWarning {
  background-color: $warning;
  color: $dark;
}

.buttonTextPrimary {
  background-color: $white;
  color: $primary;
}
.buttonTextGrey {
  background-color: $white;
  color: $grey;
}
.buttonTextDanger {
  background-color: $white;
  color: $danger;
}
.buttonTextWarning {
  background-color: $white;
  color: $warning;
}
.buttonTextDark {
  background-color: $white;
  color: $dark;
}

.buttonText {
  margin-left: 10px;
}
