@import "../../../../styles/variables";

.dropdownMultiSelectItem {
  justify-content: flex-start;

  label {
    padding: 15px 20px;
    height: 54px;
    width: 100%;
    padding-left: 35px;

    &:hover {
      background-color: rgba($primary, 0.1);
    }

    &::before {
      left: 10px;
    }

    span {
      left: 10px;
    }
  }
}
