.nav-list {
  &__item {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 30px;
    margin: 10px;
    border-radius: 10px;

    &:hover,
    &.active {
      background-color: rgba($light, 0.2);
      color: $white;
    }
  }
  &__text {
    margin-left: 10px;
  }
}
