@import "../../../styles/variables";
@import "../../../styles/mixins";

.commonTable {
  width: calc(100% + 40px);
  margin: 0 -20px;
  margin-top: -20px;
}

.rowButton {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  width: 28px;
  margin: 0;
  height: 28px;
  @include flex-center();
  background-color: $white !important;

  &:hover {
    background-color: $light-grey !important;
  }
}

.checkboxCell {
  justify-content: flex-start !important;
}
