@import "../../../styles/variables.scss";

.tabsHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 0;
  overflow: hidden;
}

.tabsHeaderItem {
  font-size: 17px;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
  padding: 20px 30px;

  display: block;
  border-bottom: 3px solid transparent;
  cursor: pointer;

  &.activeTab {
    font-weight: 500;
    border-bottom: 3px solid $primary-light;
  }

  &:hover {
    background-color: rgba($primary-light, 0.1);
  }
}
