.fullWidth {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

.halfWidth {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}

.oneThirdWidth {
  width: 31.333%;
  margin-left: 1%;
  margin-right: 1%;
}

.quarterWidth {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
}

.threeQuartersWidth {
  width: 73%;
  margin-left: 1%;
  margin-right: 1%;
}

.form {
  display: flex;
  flex-wrap: wrap;
}
