@import "../../../styles/variables.scss";

.datePickerContainer {
  z-index: 999;
  position: relative;
}

.datePickerInput {
  background-color: $light-grey;
  padding: 12px;
  border: 0;
  border-radius: 10px;
  color: $primary;
  text-transform: capitalize;
  width: 100%;

  &:focus,
  &:active {
    outline: 0;
    box-shadow: 0;
    border-color: $primary;
    background-color: darken($light-grey, 1);
  }
}

.datePickerCalendar {
  z-index: 999;
  animation: slide-calendar-down 0.2s ease-in-out;
  background-color: $white;
  border-color: $light-grey;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba($muted, 0.2);
}

.datePickerMonth {
  color: $white;
}

.datePickerLabel {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: $primary-dark;
}

@keyframes slide-calendar-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}

.dateFieldError {
  color: $danger;
  position: absolute;
  left: 10px;
  bottom: -25px;
  font-size: 14px;
}
