@import "../../../styles/variables";

.textField {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 10px 0;
  position: relative;
}

.textFieldInput {
  border: 1px solid $light-grey;
  background-color: $light-grey;
  border-radius: 11px;
  padding: 13px;
  color: $primary;
  transition: all 0.1s ease-in-out;
  position: relative;
  z-index: 9;
  resize: none;

  &::placeholder {
    color: rgba($primary, 0.6);
    text-transform: capitalize;
  }

  &:focus,
  &:active {
    outline: 0;
    box-shadow: 0;
    border-color: $primary;
    background-color: darken($light-grey, 1);
  }
}

.textFieldLabel {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: $primary-dark;
}

.textFieldError {
  color: $danger;
  position: absolute;
  left: 10px;
  bottom: -25px;
  font-size: 14px;
}
