.fadeUpDownEnter {
  opacity: 0;
  transform: translateY(-10px);
}

.fadeUpDownEnterActive {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  transform: translateY(0);
}

.fadeUpDownExit {
  opacity: 1;
  transform: translateY(0);
}

.fadeUpDownExitActive {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translateY(-10px);
}
