$primary: #005792;
$primary-light: #00bbf0;
$primary-dark: #00204a;
$light: #effbff;
$white: #ffffff;
$grey: #cacaca;
$dark: #001127;
$muted: #a8a5a5;
$danger: #e33e5a;
$success: #29de92;
$warning: #ffb423;
