@import "../../../../scss/variables";

.dropdownItem {
  cursor: pointer;
  padding: 15px 20px;
  padding-inline-end: 90px;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  color: $primary;

  &:hover {
    background-color: rgba($primary, 0.1);
  }
}

.dropdownItemText {
  margin-inline-start: 10px;
}
